.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 10px 15px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a.closebtn {
  position: absolute;
  top: 0;
}

.content {
  transition: margin-left 0.5s;
  padding: 16px;
}

.open-btn {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 20px;
}
